*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
}

.container{
    background-color:#0b998b;
    min-height: 100vh;
    border : 10px solid #0d1147;
}

.content{
    max-width: 900px;
    margin: 0 auto;
    
}

.image_container,img{
    width: 200px;
    height: 300px;
}

.top_section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h4{
    padding-left: 280px;
    font-size: large;

}

.image_container{
    border-radius: 25%;
    overflow: hidden;
}

.image_container_right img{
    padding-left: 100px;
}
.about_section h2{
    margin-top: 50px;
    font-size: 60px;
}
.about_section p{
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.biography_section h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
.biography_section li{
    margin: 10px;
}
.biography_section ul{
    padding-left: 30px;
}

footer{
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 600px;
}